{% extends 'base.html' %}
{% load my_tags %}
{% block content %}
<div class="row text-center">
    <div class="col-4">
        <div class="card mb-4 box-shadow">

            <div class="card-header">
                {% if object.imagery %}
                <img src="{{ product.imagery | media_filter }}">
                {% endif %}
                <h4 class="my-0 font-weight-normal">{{ object.product_name }}</h4>
                <div class="card-body">
                    <h4 class="my-0 font-weight-normal">{{ object.product_description | truncatewords:100 }}</h4>
                    <div class="card-body">
                        <h4 class="my-0 font-weight-normal">Цена {{ object.cost_product }}</h4>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <button type="button" class="btn btn-lg btn-block btn-outline-primary">Купить</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}